<div id="about" class="col-lg-12 ">
	<h1 class="intro-text text-center">Welcome to CDPSfy <%if (session.user){%> <%=session.user.username%> <%}%></h1>
	<br>
	<h3 class="text-center">In this website you can listen the uplodaded tracks and upload your own tracks.</h3>

	<div class="row">
		<h3>Without a count, you can listen to anyones music by just clicking Tracks. Enjoy others tracks!</h3>
		<div id="casa">
    <img id="portada" class="img-responsive img-border" src="/images/music2.jpg" >
</div>

<div class="row">
	<h3>Tired of the same music? Try to sign in! You can upload your own music and even create your private music list. Don't miss it!</h3>
	<img id="portada" class="img-responsive img-border" src="/images/music1.jpg" >
</div>

	</div>	
</div>