
<div class="row">

<div class="col-md-3">

<div class="form-group">
<label for="preg" class="rem">Username:</label>
<input type="text" id="username" name="username" value="<%=user.username%>"/><p>
</div>

<div class="form-group">
<label for="resp" class="rem">Password:</label>
<input type="password" id="pass" name="password"/><p>
</div>
<a href="/"><button class="btn btn-info " type="button">Cancel</button></a>
<input class="btn btn-info " type="submit" value="Send">

</div>

<div class="col-md-9">
	<h3>Tired of listening the same music? Try to sign in! It's just as simple as creating a new ID and choosing a good password. When you login, you will be able to upload your own music and even create reproduction lists. What are you waiting for?</h3>
</div>

</div>