<h3 class="text-center">See what tracks you have uploaded recently!</h3>

<div class="row">
<%for (var t in tracks)  {%>
			<div class="col-md-6">
			<img class="navegacion " src="<%=tracks[t].photo%>">
			<a class="track" href='/tracks/<%=tracks[t].id%>'>
			<h3><%=tracks[t].name.split('_')[0]%></h3>
			</a>
			<p>Uploaded by User: <%=tracks[t].UserId%></p>
			
		</div>					

       
<%}%>

</div>