
<div class="row">
<div class="col-md-12 col-offset-4">
<form action="/tracks" method="post" enctype="multipart/form-data">  
  <h3>Upload a new track:</h3>
  <p>Song:</p>
  <input class="btn btn-info" class="upload_field" type="file" name="track"/>
  <p>Cover:</p>
  <input class="btn btn-info" class="upload_field" type="file" name="photo"/>
  <button class="btn btn-info" class="hint upload_field" type="submit">Upload</button>
  <span class="hint upload_field">Supported files: MP3, Wav, and Ogg / .png .jpg</span>
</form>
</div>
</div>